@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;

}
*::selection {
    background: #2b3dda;
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
  }
  html::-webkit-scrollbar-thumb {
    background: #f4432b;
  }


/* navbar starts */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(146, 161, 176, 0.3);
}
section {

  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: rgba(32, 32, 32, 0.178);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(78, 78, 78);
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  
}

/* The element to apply the animation to */
@keyframes example {
  0%   {color: rgb(101, 52, 52);}
  25%  {color: rgb(92, 92, 55);}
  50%  {color: blue;}
  100% {color: green;}
}
.logo  {
  
  
  animation-name: example;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  
}
header .header-name{
    
    color:#f4432b;
}

header .logo i {
  font-size: 2.2rem;
}

header .navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar a {
  margin-left: 2.5rem;
}
header .navbar  a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar  a.active,
header .navbar a:hover {
  color: #f4432b;
  border-bottom: 0.2rem solid #f4432b;
  padding: 0.5rem 0;
}
#menu {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(24, 2, 63);
    display: none;
  }


  

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  
 
 
  font-size:1.57rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  background-color: inherit;
  overflow: hidden;
  cursor: pointer;
  transition: .2s;
}
.btn:hover{
    border-bottom:2px solid #f4432b;
    color: #f4432b;
}
.material-icons::before{
    content: '🍕';

}

.btn:focus .dropdown, .btn:active .dropdown {
  transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
}

.btn .dropdown {
  position: absolute;
  top: 100%;
  
  background: #FFFFFF;
  width: 15%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn .dropdown li {
  z-index: 1;
 
  background: #FFFFFF;
 list-style: none;
  color: #666;
}
.btn .dropdown a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  color: inherit;
  font-size: 13px;
  text-decoration: none;
}
.input_container{
    display: flex;
    flex-direction: row;
}
.input_container .input_text{
    color: #0e2431;
    
    border: 1px solid #f4432b;
    
    height: 30px;
    
   
}
.input_submit{
  
    width: 35px;
  border: 1px solid #f4432b;
    
}.input_submit:hover{
  background-color: #f4432b;
  color: white;
  cursor: pointer;
}
.order_container{
    
    display: flex;
 margin-left: 20px;
    gap: 1rem;
}














.container {
    margin-top: 60px;
    position: relative;
 overflow: hidden;
    border-radius: 5rem;
    box-shadow: 2px 2px 20px black;
   
  }
 
.slider {
  display: flex;

  height: 55rem;
 

  justify-content: center;
  align-items: center;
background-color:#f4432b;
}
.box{
  position: relative;
  
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.details{
  position: relative;
  
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  align-items: center;

  width: 70%;
  height: 30rem;
  color: #171616;
  flex-direction: column;
}
.details h1{
  color: rgba(255, 255, 255, 0.61);
  font-size: 4.3rem;
}
.details p{
  margin-left:40px ;
}
.bg{
  
  
  width: 920px;
  height: 500px;
  background-position: center;
  background-size: cover;
}
 .button_container{
  display: flex;
  justify-content: center;
  align-items: center;
gap: 2rem;
  position: absolute;
  left: 60px;
  bottom: -20px;

}
.details button{


color: white;
  width: 120px;
  height:   50px;
}
.see_button{
  border: 2px solid wheat;
background-color: #f4432b;
}
.see_button:hover{
  border: 2px solid #f4432b;
background-color: white;
color: #f4432b;
}
.buy_button{
  border: 2px solid rgb(255, 255, 255);
background-color:#ff1e00;
color: #fffcfb;
}
.buy_button:hover{
  border: 2px solid #f4432b;
  background-color: white;
  color: #f4432b;
}





.food_item_container {
  margin-top: -100px;
  position: relative;
overflow: hidden;
  border-radius: 5rem;
  box-shadow: 2px 2px 20px black;
  min-height: 10vh;
  width: 80%;
  left: 10%;
  border: .5rem solid#f4432b;
}

.food_items {
display: flex;

height: 10rem;


justify-content: center;
align-items: center;
background-color: rgb(247, 229, 229);
gap: 5rem;
}
.food_items .item{
  width: 120px;
  height: 100px;
 
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 padding: 3px 3px 3px 3px;
}
.food_items .item h2{
  margin-top: 5px;
  font-size: 6rem;
}
.food_items .item p{
  color: #f45e44;
  margin-top: -6px;
  font-size: 1.5rem;
}
.food_items .item:hover .tag {
  color: #000000;
  cursor: pointer;
}
.food_items_img:hover{
  cursor: pointer;
}






.food_card_countainer{
 
  position: relative;
overflow: hidden;
  border-radius: 5rem;
  box-shadow: 2px 2px 20px black;
border: .5rem solid #f4432b;
  width: 100%;


 
}
.food_card{
  display: flex;
height: 50rem;

justify-content: center;
align-items: center;
background-color:rgb(164, 0, 0);
flex-direction: row;
gap: 5rem;
}
.food_card_item{
  border: 4px solid rgba(25, 18, 18, 0.731);
width: 22rem;
height: 32rem;
display: flex;
align-items: center;
flex-direction: column;
overflow: hidden;
border-radius: 20px;
background-color: #ef452e43;
box-shadow: 2px 4px 30px rgba(28, 16, 16, 0.874);

}
.food_card_item_bottom{
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.food_card_hearder{
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 2rem;
  color: #e4c7c7d0;
}
.food_card_bg{
  margin-top: -30px;
  margin-left: 20px;
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
width: 30rem;
height: 100%;
z-index: 1;

}
.food_card_tittle{
  z-index: 2;
  font-size: 3rem;
  font-weight: 900;
  background-color: inherit;
}

.food_card_button{
  
  position: relative;
  height: 3rem;
  width: 8rem;
  border: 2px solid rgb(255, 255, 255);
background-color:inherit;
color: #fffcfb;
bottom: 12px;
left: 14%;

}
.food_card_button:hover{
  cursor: pointer;
  border: 2px solid #f4432b;
  background-color: white;
  color: #f4432b;
}
.food_card_item:hover{
  background-color: #f1341b;
  border-color: #0e2431;
}
.food_card_countainer-s{

  position: relative;
overflow: hidden;
  border-radius: 5rem;
  box-shadow: 2px 2px 20px black;
  min-height: 30vh;
  width: 100%;
  
}

.list_section{
  margin-top: 10rem;
 

  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.list_container{
  position: relative;
 
    border-radius: 5rem;
    box-shadow: 2px 2px 20px black;
  width: 1400px;
  background-color:rgb(235, 47, 47);
  border: .5rem solid #f4432b;
  display: flex;
 flex-direction: column;
 justify-content: space-around;
gap: 5rem;
padding: 30px 30px 10px 10px;

}
.list_innercontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
gap: 2rem;
margin-top: 60px;
}
.list_header{
  position: absolute;
  top: 5%;
  left: 39%;
  font-size: 2rem;
  color: rgba(214, 185, 185, 0.829);

  
  
}
.list_container .card{
 border: .2rem solid #f4432b;
 background-color:inherit;
 
 display: flex;
justify-content: center;
align-items: center;
 padding: 5px 5px 4px 4px;
 border-radius: 20px;
box-shadow: 2px 4px 30px rgba(28, 16, 16, 0.874);

}
 .card:hover{
  
  background-color: #f52f15;
   cursor: pointer;
}

.list_container .card .face{
  border-radius: 1rem;
  width: 200px;
  height: 200px;
  transition: 0.5s;
}

.list_container .card .face.face1{
  position: relative;
  
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
 
}



.list_container .card .face.face1 .content{
  opacity: 2;
  
  transition: 0.5s;
}

.list_container .card:hover .face.face1 .content{
  opacity: 1;
 
}

.list_container .card .face.face1 .content img{
width: 200px;
height: 500px;
}


.list_area{
  display: flex;
  flex-direction: column;

width: 190px;
color: white;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
}
.list_area h3{
  font-size: 2rem;
}
.list_area p{
  font-size: 2rem;
}

.list_button{
  font-size: 2rem;
  border: 2px solid white;
  background-color: inherit;
  color: white;
  padding: 6px 6px 4px 4px;
}
.list_button:hover{
  border: 2px solid #f4432b;
  background-color: white;
  color: #f4432b;
  cursor: pointer;
  
}














.footer {
  margin-top: 30px;
  min-height: 40vh;
  padding-top: 30px;
  background:#f4432b;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 border-top: .5rem solid red;
}
.footer .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
gap: 10rem;
}
.footer .box-container .box {
  flex-direction: column;
  margin: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 2rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  text-align: center;
  
  font-size: 2rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}